{{define "header"}}
<header>
    <div class="header-container">
        <div class="logo">
            <a href="/">BudgetBuzz</a> <!-- Link to the home page -->
        </div>
        <nav>
            <ul>
                {{if .IsLoggedIn}}
                <li><a href="/profile">Welcome, {{.User.Username}}!</a></li>
                <li><a href="/" id="homepage">[ Home ]</a></li>
                <li><a href="/newpost" id="new-post">[ New Post ]</a></li>
                <li><a href="/logout" id="nav-logout">[ Logout ]</a></li>
            {{else}}
                <li><a href="#" id="nav-login">[ Login ]</a></li>
                <li><a href="#" id="nav-register">[ Register ]</a></li>
            {{end}}
            </ul>
        </nav>
    </div>
</header>
{{end}}
